*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Poppins', sans-serif; */
}

body{
    background: linear-gradient(110deg , #77c5bd , #0f1ca8);
    min-height: 100vh;
    font-family:'Poppins', sans-serif;
    font-size: 16px;
} 

header{
    font-size: 2.5rem;
    font-weight: bold;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

form input , form button{
    border: none;
    outline: none;
    padding: 0.4rem;
    background-color: #fff;
    font-size: 1.5rem;
}

form button{
    cursor: pointer;
    color: #0f1ca8;
    transition: all 0.4s ease;
}

form button:hover{
    background:#0f1ca879 ;
    color: #fff;
}

.todo-container{
    display: flex;
    justify-content: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    display: flex;
    background-color: #fff;
    font-size: 1rem;
    align-items: center;
    margin: 0.5rem;
    transition: all 0.5s ease;
}
.todo-item{
    flex: 1;
    padding: 0 0.6rem;
}

.complete  , .trash{
    background-color: #a00058;
    color :#fff ; 
    cursor: pointer;
    padding: 0.5rem;
    font-size: 0.7rem;
    border: none;
    outline: none;
}

.complete{
    background-color: #6b9f9a;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


.fa-trash , .fa-check{
    pointer-events: none;
}